/* 
NGUYÊN TẮC PHÂN TÍCH:
1. từ ngoài vào trong
2. từ trên xuống dưới
3. từ tổng quan đến chi tiết

trước khi code css cần trả lời các câu hỏi sau:
1. Vị trí
2. Kích thước (width, height)
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình  dáng, font)

*/
html {
  font-size: 62.5%; /* 1rem = 10px  */
}

body {
  font-family:  Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
} 

#main {

}

#header {
  height: 4.6rem;
  background-color: #000;
} 

#nav, .subnav {
  list-style-type: none;
}

#nav {

}

#nav > li {
  /*  li la the block nen no xuong hang => thanh the inline */
  /* display: inline-block; */
  display: inline-block;
}

#nav li {
  /* để xét vị trí cho menu con là subnav */
  position: relative;
}

/* trỏ trực tiếp den the a cua menu cha */
#nav > li > a {
  color: #fff;
  text-transform: uppercase;
}

/* nếu để như thế nay thì cả thẻ a của menu cha và con đều nhận
=> trỏ thẻ trực tiếp */
#nav li a {
  text-decoration: none;
  line-height: 4.6rem; 
  padding: 0 2.4rem;
  display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a {
  color: #000;
  background-color: #ccc;
}

/* khi hover vào thẻ a (li) của menu cha
thì đồng thời menu con cũng xuất hiện */
#nav li:hover .subnav {
  display: block;
}

/* ẩn menu con trước khi chưa hover */
#nav .subnav {
  display: none;
  position: absolute;
  top: 100%; /* = width của thẻ cha chưa nó là nav = 46px */
  left: 0;
  min-width: 16rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
 color: #000;
 padding: 0 12px;
 line-height: 3.8rem;
}

#slider {
 
}

#content {

}

#footer {

}